%table.table.table-striped.departments.collection                        
  %thead
    %tr
      %th= t_attr :name
      %th= t_attr :descript
      %th.action-links
  %tbody
    = render @departments
