%table.table.table-striped.stock_locations.collection
  %thead
    %tr
      %th= t_attr :building
      %th= t_attr :floor
      %th= t_attr :name
      %th.action-links
  %tbody
    = render @stock_locations
