= simple_fields_for @customer do |customer|
  = customer.fields_for :customer_contacts, @customer_contact, :child_index => -(DateTime.now.to_i) do |customer_contact|
    = render "#{customer_contact.object.class.name.underscore.pluralize}/form", :customer_contact => customer_contact
