%tr
  %th{:style => 'padding: 2px; width: 150px'}= t_attr(:tital, CustomerContact)
  %th{:style => 'padding: 2px; width: 150px'}= t_attr(:name, CustomerContact)
  %th{:style => 'padding: 2px'}= t_attr(:phone, CustomerContact)
  %th
  %th.action_links
