%tr
  %th{:style => 'padding: 2px; width: 400px'}= t_attr(:product_id, StockProduct)
  %th{:style => 'padding: 2px; width: 200px'}= t_attr(:stock_location_id, StockProduct)
  %th{:style => 'padding: 2px; width: 150px'}= t_attr(:quantity, StockProduct)
  %th
  %th.action_links
