%tr.customer_shipping_total
  %th{:colspan => 2}
    = link_to t('new_position', scope: 'customer_shippings'), [:new_customer_shipping, resource.persisted? ? resource : resource.class.name.underscore.pluralize.to_sym], :remote => true, :class => 'btn'
