%tr.line_item_total
  %th{:colspan => 2}
    = link_to t_action('new_position'), [:new_customer_shipping, resource.persisted? ? resource : resource.class.name.underscore.pluralize.to_sym], :remote => true, :class => 'btn'
